.Register{
    background-color: white;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.Register__logo{
    width: 100px;
    object-fit: contain;
    margin-top: 25px;
    margin-bottom: 25px;
}

.Register__container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightslategray;
}

.Register__container h1{
    font-weight: 500;
    margin-bottom: 20px;
}

.Register__container form h5{
    margin-bottom: 5px;
}

.Register__container form input{
    margin-bottom: 10px;
    height: 30px;
    background-color: white;
    width: 98%
}

.Register__container p{
    margin-top: 15px;
    font-size: 15px;
}


.Registerbtn{
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}